*.iml
.gradle
/.idea/inspectionProfiles
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/AndroidProjectSystem.xml
.DS_Store
/build
/captures
/.idea
.externalNativeBuild
.cxx
/.idea/
local.properties
README.md
